div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation: moveColor 1ms infinite;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes example {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: rgb(21, 130, 138);}
    75% {background-color: 34, 37, 37;}
    100% {background-color: rgb(211, 9, 141);}
}

@keyframes moveColor {
    0% {background-color: red; left: 0; top: 0;}
    25% {background-color: yellow; left: 150px; top: 0;}
    50% {background-color: rgb(21, 130, 138); left: 150px; top: 150px;}
    75% {background-color: rgb(34, 37, 37); left: 0; top: 150px;}
    100% {background-color: rgb(211, 9, 141); left: 0; top: 0;;}

}